@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap');
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: "Afacad Flux", Helvetica,sans-serif;
 --secondary-font: Helvetica, san-serif;
}

* {
    margin: 0;
}

header {
    background-color: rgb(80, 73, 151);
    font-family: var(--primary-font);
    text-align: center;
    padding: 20px;
}

header h1 {
    color: var(--text-light)
}

.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
}

ul.show {
    display: block;
}

.navbar li {
    margin: 10px 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: var(--text-light);
    font-size: 1.5em;
    cursor: pointer;
}

body {
    font-size: 1.2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 30px;
    font-family: var(--secondary-font);
    text-align: center;
    flex-grow: 1
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}

figure {
    margin: 40px;
}

img {
    border: 8px solid transparent;
    object-fit: cover;
    max-width: 100%;
    height: 250px;
    width: 250px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.8);
}

a:link, a:visited {
  color: var(--text-light);
}

footer {
    background-color: rgb(80, 73, 151);
    color: var(--text-light);
    padding: 20px
}

@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    button{
        display: none;
    }

    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1200px;
      margin: 0 auto;
    }
    .navbar ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .navbar li {
        margin: 0 15px;
        display: inline;
    }
}