body {
    margin: 0 auto;
    margin-top: 100px;
    border: #aaaaaa solid;
    border-width: 1px;
    width: fit-content;
    height: fit-content;
    padding: 40px 140px;
}

.content {
    width: 600px;
    margin: 0 auto;
}

header {
    text-align: center  ;
}

.title {
    font-size: 40px;
    letter-spacing: 4px;
}

.subtitle {
    font-size: 16px;
    letter-spacing: 4px;
    color: #2782c1;
    border-bottom: 1px solid;
    border-color: #aaaaaa;
    padding-bottom: 4px;
}

main {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    line-height: 1.5em;
}

.italics {
    font-style: italic;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

footer img {
    max-width: 150px;
}